@import url(/css/reset.css);
:root {
    --main-color: #3a3633;
    --sub-color: white;
}

body {
    font-family: "poppins";
}
/* navbar */
nav {
    position: fixed;
    color: var(--sub-color);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    width: 100%;
    height: 10vh;
    top: 0;
}
nav svg {
    height: 4rem;
    width: 10rem;
}

nav ul {
    display: flex;
    position: absolute;
    right: 0;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--sub-color);
    padding: 0 2rem;
}

/* header with rocket picture */
header {
    height: 110vh;
    width: 100%;
    background-image: url("/imgs/bg.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;
    z-index: 0;
    color: var(--sub-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container {
    border: var(--sub-color) solid 5px;
    height: 50vh;
    width: 80vw;
    display: flex;
}
.header-container .title {
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
    font-size: 4.5rem;
}
.header-container .title h1 {
    text-align: center;
}
.header-container .sub-title-container {
    width: 60%;
    text-align: center;
    padding: 2rem;
    background-color: rgba(126, 117, 117, 0.5);
}
.header-container .sub-title-container .sub-title {
    height: 50%;
    width: 100%;
    font-size: 3rem;
}
.sub-title-container .sub-title-text {
    border-top: dashed;
    text-align: center;
    padding-top: 2rem;
    display: flex;
}
/* features sections */
.features-section {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.features-section .features-containers {
    padding: .75rem;
    height: 80%;
    width: 20%;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(126, 117, 117, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.features-section .features-containers svg,
.features-section .features-containers p,
.features-section .features-containers button,
.features-section .features-containers h2 {
    margin: 0.5rem;
}
.features-section .features-containers h2 {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
}
.features-section .features-containers button {
    background-color: var(--main-color);
    color: var(--sub-color);
    padding: 0.5rem 0;
    box-shadow: 0 0 5px var(--main-color);
    width: 80%;
    border: none;
}
.features-section .features-containers p {
    text-align: center;
    height: 100%;
    opacity: .5;
}
.features-section .features-containers svg {
    height: 6rem;
    width: 10rem;
}

/* cool and gradient background part */
.cool {
    background-color:var(--main-color);
    height: 80vh;
    color: var(--sub-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cool > h2 {
    font-size: 5rem;
    margin: 0 2rem;
}
.cool > p {
    font-size: 2rem;
    margin:  0 4rem 0 2rem;
    line-height: 3rem;
}
.cool .cool-box {
    position: relative;
    border: var(--sub-color) solid thick;
    background-color: var(--main-color);
    height: 18vh;
    width: 18vw;
    top: 9rem;
    left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.cool .cool-box h3 {
    font-size: 1.5rem;
    color: red;
}
.cool .cool-box p {
    text-align: center;
}
.gradient {
    background-image: linear-gradient( to right, var(--sub-color),#24A0eD);
    height: 80vh;
    color: var(--sub-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.gradient h2 {
    font-size: 5rem;
    margin: 2rem;
}
.gradient p {
    font-size: 2rem;
    margin: 2rem;
}
/* gallery section */
.gallery {
    height: 80vh;
    display:flex;
    flex-wrap: wrap;
}
.gallery img {
    width: calc(100%/3);
    height: 50%;
    object-fit: cover;
}
/* contact */
.contact {
    text-align: center;
    margin: 2rem;
} 
.button-container {
    display: flex;
    justify-content: center;
    height: 5vh;
    margin-bottom: 1rem;
}
.contact .button-container button,
.contact .button-container input {
    border: solid rgb(189, 178, 178);
}
.contact .button-container input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.contact .button-container button{
    background-color: rgb(189, 178, 178);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
}

.contact-title {
    text-align: center;
    margin-top: 1rem;
}
.contact .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .checkbox label {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}
.contact .checkbox input {
    -webkit-appearance: none;
    border: solid rgb(189, 178, 178);
    border-radius: 4px;
    margin: 0 0.5rem;
    height: 1rem;
    width: 1rem;
    outline: none;
}
.contact .checkbox input:checked {
    outline: var(--main-color);
    background-image: url(/imgs/checkbox.svg);
    background-size: 100%;
    background-color: var(--main-color);
    border: solid var(--main-color);
}

/* footer */
footer table {
    width: 100%;
    margin: 2rem 0 1rem 0;
    border-top: solid 2px rgb(189, 178, 178);
}
footer table tr {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem 0;
}
footer table tr td a {
    text-decoration: none;
    color: var(--main-color);
}

/* media queries for mobile */
@media only screen and (max-width: 768px){
    nav .burger {
        display: block;
        width: 4rem;
        height: 3rem;
        margin: 2rem;
    }
    nav .burger span{
        display: block;
        background-color: var(--sub-color);
        height: .25rem;
        margin: .5rem;
    }
    nav ul {
        display: none;
    }
}